= link_to 'Create', new_products_inspection_path
%table
  %thead
    %th Date
    %th Inspector
    %th Area
  %tbody
  - products_inspections.each do |inspection|
    %tr
      %td= link_to inspection.date, edit_products_inspection_path(inspection)
      %td= inspection.user.email
      %td= inspection.area.try :name
